* {
    font-family: Montserrat, sans-serif;
    font-weight:500;
    margin:0;
    bottom:0;
    list-style: none;
    color: inherit;
    text-decoration: inherit;
}

body {
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas:"navbar" "welcome-section" "project-section" "contact";
    gap:20px;
    background-color:black;
    color:#F8F9FA;
    margin-top:3em;
}

.navbar{
    grid-area:navbar;
    background-color:#343A40;
    color:#ADB5BD;
    position: fixed;
    top:0%;
    width: 100%;
    height: 3%;
    text-align:center;
}

.navbar ul{
    display:flex;
    justify-content:center;
    padding-top:0.25em;
    gap:2rem;
}


.navbar a:hover {
    color:#F8F9FA;
}

.welcome-section{
    grid-area:welcome-section;
    text-align:center;
}

.welcome-section p{
    padding-top:1em;
}

.welcome-section a{
    color:#ADB5BD;
}

.welcome-section a:hover{
    text-decoration:underline;
    color:#CED4DA;
}

.welcome-story {
    padding-top:20px;
}

.project-section {
    grid-area:project-section;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 45vw), 1fr));
    margin:1em;
    padding:1em;
}

.project-section h2 {
    padding:1em;
}

.project-description {
    text-align:center;
    padding-top:3em;
}

.project-description {
    text-align:center;
    padding-top:3em;
}

.project-tile {
    display:flex;
    background-color:#495057;
    text-align:center;
    align-items:center;
    overflow:hidden;
    padding:1em;
    border-radius:0.8em;
    margin:1em;
    transition: box-shadow 0.3s ease;
    color:#ADB5BD;
}

.project-tile:hover{
    background-color:#6C757D;
    color:#F8F9FA;
}

.project-tile img {
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit:contain;
    border-radius:0.5em;
}

.project-tile p {
    padding-top:1em;
}

h2 {
    grid-column:1 /-1;
    text-align:center;
}

.contact{
    grid-area:contact;
    padding-bottom:10px;
}

.contact h2 {
    padding-bottom:10px;
}

.social {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    background-color:#343A40;
    color:#6C757D;
}

.social a:hover{
    color:white;
}

@media sreen and (max-width: 768px) {
    h1 { font-size: 2rem; }
    p { font-size: 1em; }
}